@model NoteModel

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Delete Note</h2>
    </div>

    <form method="post" asp-action="DeleteNote">
        <input asp-for="Id" hidden />
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="NameNote">Name of the note</label>
                <input type="text" class="form-control mb-3" asp-for="NameNote" placeholder="Enter name" disabled>
                <span asp-validation-for="NameNote" class="alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="TextNote">Text</label>
                <input type="text" class="form-control mb-3" asp-for="TextNote" placeholder="Enter text" disabled>
                <span asp-validation-for="TextNote" class="alert-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Tags">Tags</label>
                <input type="text" class="form-control mb-3" asp-for="Tags" placeholder="Enter tags" disabled>
                <span asp-validation-for="Tags" class="alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CreatedAt">Created at</label>
                <input type="datetime-local" class="form-control mb-3" asp-for="CreatedAt" disabled>
                <span asp-validation-for="CreatedAt" class="alert-danger"></span>
            </div>
        </div>


        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Submit</button>
        <a asp-controller="Note" asp-action="Index" class="btn btn-lg btn-warning p-2">Back</a>
    </form>

</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

